:root {
  --height: 240px;
  --panel-background: #1f2937;
}

/* ===== Dashboard Base ===== */

.dashboard-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

/* ===== Panel Base ===== */

.panel {
  position: relative;
  background: var(--panel-background);
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-x: auto;
  padding-bottom: 0px;
  margin-bottom: 24px;
}

.panel-main {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  gap: 16px;
  align-items: start;
}

.panel-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.col-image {
  background: var(--panel-background);
  display: flex;
  justify-content: center;
}

.pokemon-name {
  background: var(--panel-background);
  font-size: 16px;
  text-align: center;
}

.pokemon-type {
  background: var(--panel-background);
  font-size: 12px;
  text-align: center;
}

.col-middle{
  background: var(--panel-background);
  padding: 16px;
}

.col-right {
  background: var(--panel-background);
  padding: 16px;
}

/* Move Info */
.move-info-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* RootPanel Specific */
.rootPanelTitle {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;
  color: #888;
}

.deleteButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4b5563;
  transition: color 0.2s ease, transform 0.2s ease;
}

.deleteButton:hover {
  color: #9ca3af;
  transform: scale(1.1);
}