:root {
  --height: 280px;
}

/* ===== Dashboard Base ===== */

.dashboard-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

/* ===== Panel Base ===== */

.panel {
  background: #1f2937;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-x: auto;
  padding-bottom: 0px;
  margin-bottom: 24px;
}

.panel-main {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  gap: 16px;
  align-items: start;
}

.panel-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.col-image {
  background: #1f2937;
  display: flex;
  justify-content: center;
}

.pokemon-name {
  background: #1f2937;
  font-size: 16px;
  text-align: center;
}

.pokemon-type {
  background: #1f2937;
  font-size: 12px;
  text-align: center;
}

.col-middle{
  background: #1f2937;
  padding: 16px;
}

.col-right {
  background: #1f2937;
  padding: 16px;
}

/* Move Info */
.move-info-container {
  display: flex;
  gap: 12px;
  align-items: center;
}
