@import "tailwindcss";

:root {
  /* ===== Grafana寄りダーク ===== */
  --background: #182230;   /* 全体背景 */
  --foreground: #e5e7eb;   /* 文字色 */

  --panel: #1f2937;        /* パネル */
  --sidebar: #111827;      /* サイドバー */
  --border: #1f2937;       /* ボーダー */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* prefers-color-scheme は削除 */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}